.container {
    width: 171px;
    flex-basis: 50%;
    margin: 31px 0;
}

@media (min-width: 768px) {
    .container {
        flex-basis: 33.333333%;
    }
}

@media (min-width: 1024px) {
    .container {
        flex-basis: 25%;
    }
}

.checked {
    width: 31px;
    height: 31px;
    margin: 16px 0 8px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(67.24% 67.24% at 50% 100%, rgba(235, 208, 67, 0.4) 0%, rgba(124, 134, 61, 0.4) 100%), #0E3419;
    box-shadow: 0 4px 20px rgba(255, 235, 61, 0.37);
    border-radius: 50%;
}

.notChecked {
    width: 39px;
    height: 39px;
    margin: 16px 0 8px 0;
    border: 1px solid #5E7565;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.line {
    background: radial-gradient(#22452C, #62866D);
    height: 1px;
    width: 45%;
}