.root {
    padding: 120px 0 36px 0;
}

@media (min-width: 768px) {
    .root {
        padding: 130px 48px 36px 48px;
    }
}

@media (min-width: 1024px) {
    .root {
        padding: 120px 64px 36px 64px;
    }
}

@media (min-width: 1280px) {
    .root {
        padding: 120px 0 36px 0;
    }
}

