.text {
    width: 100%
}
.image{
    top:0;
}
.shadow{
    bottom:0%;
}
.imageContainer{
    width: 100%;
}
@media (min-width: 1025px) {
    .text {
        width: 70%;
        position:absolute;
        margin-bottom: 0;
        bottom: 27%;
    }
    .imageContainer{
        width: 73%;
    }
    .screen{
        height: 100vh;
        margin-bottom: -8rem;
    }
    .image{
        top:-6.5rem;
    }
    .shadow{
        bottom:20%;
    }
}
@media (max-height: 700px) and (min-width: 1025px){
    .shadow{
        bottom:0%;
    }
    .text {
        bottom: 23%;
    }
}
@media (max-height: 800px) and (min-width: 1025px){
    .shadow{
        bottom:15%;
    }
    .text {
        bottom: 23%;
    }
}
@media (min-width: 1280px) {
    .imageContainer{
        width: 80%;
    }
}
@media (min-width: 1440px) {
    .imageContainer{
        width: 90%;
    }
}
.buttonText {
    padding-left: 33px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #141201;
}