.text {
    width: 100%
}
.image{
    top:0;
}
.imageContainer{
    width: 100%;
}
.heroShadow{
    display: block;
}
.textShadow{
    min-height: 11rem;
    display: none;
}
@media (min-width: 1025px) {
    .text {
        position:absolute;
        margin-bottom: 0;
        bottom: 27%;
    }
    .imageContainer{
        width: 93%;
        bottom: 24%;
    }
    .screen{
        height: 100vh;
        margin-bottom: -8rem;
    }
    .image{
        top:-6.5rem;
    }
    .heroShadow{
        display: none;
    }
    .textShadow{
        display: block;
        width: 93%;
    }
}
@media (max-height: 860px) and (min-width: 1025px){
    .imageContainer{
        width: 90%;
    }
    .textShadow{
        width: 90%;
    }
}
@media (max-height: 800px) and (min-width: 1025px){
    .text {
        bottom: 23%;
    }
    .imageContainer{
        width: 85%;
    }
    .textShadow{
        width: 85%;
        margin-top: -1rem;
    }
}
@media (max-height: 700px) and (min-width: 1025px){
    .text {
        bottom: 23%;
    }
    .imageContainer{
        width: 75%;
    }
    .textShadow{
        width: 75%;
        margin-top: -0.75rem;
    }
}
@media (min-width: 1280px) and (min-height: 900px) {
    .imageContainer{
        width: 85%;
    }
    .textShadow{
        width: 85%;
    }
}
@media (min-width: 1440px) and (min-height: 900px) {
    .imageContainer{
        width: 90%;
    }
    .textShadow{
        width: 90%;
    }
}
@media (min-width: 1620px) and (min-height: 900px) {
    .imageContainer{
        width: 100%;
    }
    .textShadow{
        width: 100%;
    }
}

@media (min-width: 1921px){
    .text {
        bottom: 23%;
    }
    .imageContainer{
        bottom: 21%;
    }
}
.buttonText {
    padding-left: 33px;
    border-radius: 40px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #141201;
}