.removeScrollbar::-webkit-scrollbar { width: 0; }
.removeScrollbar { -ms-overflow-style: none; }

.damageDescription {
    max-width: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8A978C;
}

.img {
    min-width: 146px;
}

@media (min-width: 768px) {
    .img {
        width: 213px;
    }
}
