.titleSmall {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #8A978C;
    margin-bottom: 16px;
}

.titleBig {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.notWalletContainer {
    margin-top: 16px;
}

.noWallet {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8A978C;
}

.learnMoreButton {
    margin-left: 16px;
    cursor: pointer;
    width: 142px;
    height: 52px;
    border: 1px solid #FFEB3D;
    color: #FFEB3D;
    box-sizing: border-box;
    border-radius: 40px;
}

.usdc {
    max-height: 280px;
    padding: 32px 18px 32px 48px;
    background: radial-gradient(63.06% 63.06% at 50.04% 0%, rgba(255, 102, 149, 0.4) 0%, rgba(16, 40, 23, 0.4) 100%), linear-gradient(180deg, rgba(233, 61, 114, 0.07) 0%, rgba(212, 236, 219, 0.07) 100%);
    border-radius: 40px;
}

.h2 {
    background: linear-gradient(90deg, #EC6891, #9045EF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
}

.text2 {
    max-width: 332px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8A978C;
}

.text2 span {
    margin-left: 5px;
    color: #FFEB3D;
}