.titleSmall {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #8A978C;
    margin-bottom: 16px;
}

.titleBig {
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 52px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.text {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 49px;
}

.notWalletContainer {
    margin-top: 16px;
}

.noWallet {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #8A978C;
}

.learnMoreButton {
    margin-left: 16px;
    cursor: pointer;
    width: 142px;
    height: 52px;
    border: 1px solid #FFEB3D;
    color: #FFEB3D;
    box-sizing: border-box;
    border-radius: 40px;
}