.footer {
    background-image: url(../../../../public/footer-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 640px) {
    .footer {
        background-image: url(../../../../public/footer.svg);
    }
}

.links {
    cursor: pointer;
    font-family: Play;
    font-weight: normal;
    line-height: 19px;
}
