html,
body,
#__next {
  background:#0D1420;
  background-size: 100% 100%;
  padding: 0;
  margin: 0;
  height: 100vh;
  flex-direction: column;
  display: flex;
  height: calc((var(--vh, 1vh) * 100));
  color: #FFF;
  font-family: "Poppins";
  font-style: normal;
  font-size: 16px;
}
@media (min-width: 1921px) {
  html,
  body,
  #__next {
    font-size: 20px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

video {
  max-width: none !important;
}

* {
  box-sizing: border-box;
}

.fixed_back{
  height: 150vh;
}