html,
body,
#__next {
  background: no-repeat top/100% url(../../public/common/background.png) #102918;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  display: flex;
  height: calc((var(--vh, 1vh) * 100));
  color: #FFF;
  font-family: "Poppins";
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
