.container {
    overflow: overlay;
    background: #FFEB3D;
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #141201;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FFEB3D;
    margin-right: 8px;
}