.background {
    background: radial-gradient(50% 50% at 50.04% 0%, rgba(85, 140, 101, 0.2) 0%, rgba(16, 40, 23, 0.2) 100%), #16321E;
    border-radius: 40px;
    min-height: 303px;
}
.cardImage {
    max-height: 830px;
}
.cardImage2 {
    width: 150%;
    margin-left: -25%;
    margin-bottom: -10%;
    margin-top: -20%
}
@media (max-width: 700px) {
    .cardImage2 {
        width: 200%;
        margin-left: -50%;
        margin-bottom: -20%;
        margin-top: -30%
    }
}