.container {
    flex-flow: column;
    width: 100%;
    align-items: center;
}

@media (min-width: 1024px) {
    .container {
        flex-flow: column wrap;
        height: 820px;
    }
}

.checked {
    width: 31px;
    height: 31px;
    margin-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(67.24% 67.24% at 50% 100%, rgba(235, 208, 67, 0.4) 0%, rgba(124, 134, 61, 0.4) 100%), #0E3419;
    box-shadow: 0 4px 20px rgba(255, 235, 61, 0.37);
    border-radius: 50%;
}

.notChecked {
    width: 31px;
    height: 31px;
    margin-right: 16px;
    border: 1px solid #5E7565;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}


.line {
    width: 46px;
    height: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8A978C), color-stop(100%, #132B1A));
    background: -moz-linear-gradient(left, #8A978C 0%, #132B1A 100%);
    background: -webkit-linear-gradient(left, #8A978C 0%, #132B1A 100%);
    background: -o-linear-gradient(left, #8A978C 0%, #132B1A 100%);
    background: -ms-linear-gradient(left, #8A978C 0%, #132B1A 100%);
    background: linear-gradient(to right, #8A978C 0%, #132B1A 100%);
}

