.header {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 38px;
}

.image {
    max-width: 343px;
    max-height: 354px;
}

.text {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
}

.textSmall {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}