.root {
    width: 80%;
    display: flex;
    align-self: center;
}

.logo {
    width: 184px;
    margin-right: 28px;
}

.links {
    font-family: Play;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
}

.links a {
    margin-right: 11px;
}

.contact a {
    margin-right: 8px;
}