.title {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
}

.description {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #8A978C;
}

.monster {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.damageDescription {
    max-width: 140px;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8A978C;
}